# Credenciales — NUNCA subir
configs/credentials.yaml

# Datos crudos y procesados (pesados)
data/raw/sentinel2/
data/processed/
data/models/

# MLflow
mlruns/
mlartifacts/

# Python
__pycache__/
*.pyc
*.pyo
.env
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db
